/* .singleItem {
  width: 20em;
  height: 25em;
  overflow: scroll;
  margin: 1em;
  border: solid #186e8b 0.3em;
  padding: 5px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 5px 8px #0A2900;
} */

/* .singleItem:hover {
  background-color: #35244B;
  border: solid white 0.3em;
} */
/* .itemName {
  color: #186e8b;
  font-family: Comfortaa Bold;
} */

/* .itemName:hover {
  color: white;
  cursor: pointer;
} */

.allItemsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px 25px 50px;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: .5em;
  gap: 12px;
 
}

.itemsContainer {
  min-height: 100vh;
  overflow: scroll;
  background-color: #c6dabe;
  background-image: url("./media/homeBackground.svg");;
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  input.search {
    width: 12em;
    border: solid white 2px;
    box-shadow: 1px 5px 8px #0A2900;
    border: solid white 0.2em;
    }
  .searchContainer {
    width: 75%;
    display: flex;
    height: 3em;
    justify-content: flex-end;
    padding-top: 5px;
  
  }
  .Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 2em;
  border: solid white 2px;
  background-color: purple;
  color: white;
  font-family: Comfortaa Bold;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding: 0.4em;
} 

.card {
  width: 300px;
  min-height: 500px;
  max-width: 500px;
}

.image {
  /* max-width: 100px; */
  max-height: 300px;
}