.inputs {
    display: flex;
    flex-direction: column;
}

.signupForm {
    width: 30em;
    height: 10em;
    
}

input#dateOfBirth {
    width: 29em;
}

.formContainer {
    background-color: purple;
}

